<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.data_analyze.teach.dao.TeachMapper">
    <resultMap id="teachResultMap" type="Teach">
        <id property="_id" column="_id"/>
        <result property="salary_id"  column="salary_id"/>
        <result property="name" column="name"/>
        <result property="rank" column="rank"/>
        <result property="duty" column="duty"/>
        <result property="theory_fs" column="theory_fs"/>
        <result property="profession_fs" column="profession_fs"/>
        <result property="ready_fs" column="ready_fs"/>
        <result property="guide_fs" column="guide_fs"/>
        <result property="graduation_fs" column="graduation_fs"/>
        <result property="first_sum" column="first_sum"/>
        <result property="theory_ss" column="theory_ss"/>
        <result property="profession_ss" column="profession_ss"/>
        <result property="ready_ss" column="ready_ss"/>
        <result property="guide_ss" column="guide_ss"/>
        <result property="graduation_ss" column="graduation_ss"/>
        <result property="second_sum" column="second_sum"/>
        <result property="remark_job" column="remark_job"/>
        <result property="year_sum" column="year_sum"/>
        <result property="second_etc" column="second_etc"/>
        <result property="innovative_course" column="innovative_course"/>
        <result property="college_workload" column="college_workload"/>
    </resultMap>

    <!--<select id="selectAccount" parameterType="Integer" resultMap="accountResultMap">-->


    <!--</select>-->

    <insert id="insert2015" parameterType="Teach">
        INSERT INTO teach2015(salary_id, name, rank, duty, theory_fs, profession_fs, ready_fs, guide_fs, graduation_fs, first_sum, theory_ss, profession_ss, ready_ss, guide_ss, graduation_ss, second_sum, remark_job, year_sum, second_etc, innovative_course, college_workload)
        VALUES (#{salary_id}, #{name}, #{rank}, #{duty}, #{theory_fs}, #{profession_fs}, #{ready_fs}, #{guide_fs}, #{graduation_fs}, #{first_sum}, #{theory_ss}, #{profession_ss}, #{ready_ss}, #{guide_ss}, #{graduation_ss}, #{second_sum}, #{remark_job}, #{year_sum}, #{second_etc}, #{innovative_course}, #{college_workload});
    </insert>

    <insert id="insert2016" parameterType="Teach">
        INSERT INTO teach2016(salary_id, name, rank, duty, theory_fs, profession_fs, ready_fs, guide_fs, graduation_fs, first_sum, theory_ss, profession_ss, ready_ss, guide_ss, graduation_ss, second_sum, remark_job, year_sum, second_etc, innovative_course, college_workload)
        VALUES (#{salary_id}, #{name}, #{rank}, #{duty}, #{theory_fs}, #{profession_fs}, #{ready_fs}, #{guide_fs}, #{graduation_fs}, #{first_sum}, #{theory_ss}, #{profession_ss}, #{ready_ss}, #{guide_ss}, #{graduation_ss}, #{second_sum}, #{remark_job}, #{year_sum}, #{second_etc}, #{innovative_course}, #{college_workload});
    </insert>

    <select id="execute" parameterType="String" resultType="Integer">
        ${sql}
    </select>

    <select id="getAllWork" parameterType="String" resultType="Float">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        sum(ifnull(t.college_workload,0)+ifnull(t.sum_workload, 0))
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id, college_workload, sum_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachsumTableName}.salary_id as salary_id, college_workload, sum_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%';
    </select>

    <select id="getOfficeWork" parameterType="String" resultType="Float">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        sum(ifnull(t.college_workload,0)+ifnull(t.sum_workload, 0))
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id, college_workload, sum_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachsumTableName}.salary_id as salary_id, college_workload, sum_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%' AND teachers.office=#{office};
    </select>

    <select id="queryTeachByPageInOffice" parameterType="String" resultType="Teach">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        (ifnull(t.college_workload,0)+ifnull(sum_workload, 0)) as year_sum,
        t.name
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id,${teachTableName}.name as name, college_workload, sum_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachsumTableName}.salary_id as salary_id,${teachsumTableName}.name as name, college_workload, sum_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%' AND teachers.office=#{office}
        ORDER BY
        year_sum
        DESC
        LIMIT ${beforeBegin}, ${limit};
    </select>

    <select id="queryTeachByPage" parameterType="String" resultType="Teach">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        (ifnull(t.college_workload,0)+ifnull(sum_workload, 0)) as year_sum,
        t.name
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id,${teachTableName}.name as name, college_workload, sum_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachsumTableName}.salary_id as salary_id,${teachsumTableName}.name as name, college_workload, sum_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%'
        ORDER BY
        year_sum
        DESC
        LIMIT ${beforeBegin}, ${limit};
    </select>

    <select id="getAllRealWork" parameterType="String" resultType="Float">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        sum(ifnull(t.theory_fs,0)+ifnull(t.guide_fs, 0)+ifnull(t.theory_ss,0)+ifnull(t.guide_ss,0)+ifnull(t.teach_workload,0))
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id, theory_fs,guide_fs,theory_ss,guide_ss,teach_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachTableName}.salary_id as salary_id, theory_fs,guide_fs,theory_ss,guide_ss,teach_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%';
    </select>

    <select id="getOfficeRealWork" parameterType="String" resultType="Float">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        sum(ifnull(t.theory_fs,0)+ifnull(t.guide_fs, 0)+ifnull(t.theory_ss,0)+ifnull(t.guide_ss,0)+ifnull(t.teach_workload,0))
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id, theory_fs,guide_fs,theory_ss,guide_ss,teach_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachTableName}.salary_id as salary_id, theory_fs,guide_fs,theory_ss,guide_ss,teach_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%' AND teachers.office=#{office};
    </select>

    <select id="queryRealTeachByPageInOffice" parameterType="String" resultType="Teach">
        <bind name="teachTableName" value="'teach'+year"/>
        <bind name="teachsumTableName" value="'teachsum'+year"/>
        SELECT
        (ifnull(t.theory_fs,0)+ifnull(t.guide_fs,0)+ifnull(t.theory_ss,0)+ifnull(t.guide_ss,0)+ifnull(t.teach_workload,0)) as year_sum,
        t.name as name
        FROM
        (
        SELECT ${teachTableName}.salary_id as salary_id,${teachTableName}.name as name, theory_fs,guide_fs,theory_ss,guide_ss,teach_workload
        from ${teachTableName}
        LEFT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        UNION
        SELECT ${teachsumTableName}.salary_id as salary_id,${teachsumTableName}.name as name, theory_fs,guide_fs,theory_ss,guide_ss,teach_workload
        from ${teachTableName}
        RIGHT JOIN ${teachsumTableName}
        ON ${teachTableName}.salary_id=${teachsumTableName}.salary_id
        ) as t
        INNER JOIN
        teachers
        ON
        teachers.salary_id = t.salary_id
        WHERE
        teachers.prof_and_tech_post NOT LIKE '%实验%' AND teachers.office=#{office}
        ORDER BY
        year_sum
        DESC
        LIMIT ${beforeBegin}, ${limit};
    </select>
</mapper>